@model List<ProductModel>
@{
    ViewData["Title"] = "Панель админа";
}

<div class="row">
    <div class="col-md-3 my-4">
        <div class="list-group ">
            <a asp-action="GetProducts" class="list-group-item list-group-item-action">Товары</a>
            <a asp-action="GetUsers" class="list-group-item list-group-item-action">Пользователи</a>
        </div>
    </div>
    <div class="col-md-9 my-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Список товаров</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 table-responsive">
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th>Название</th>
                                    <th>Категория</th>
                                    <th>Цена</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = Model.Count - 1; i >= 0; i--)
                                {
                                    var product = Model[i];
                                    <tr class="table-row">
                                        <td>@product.Brend @product.Model</td>
                                        <td>@product.Category</td>
                                        <td>
                                            @product.Price.ToString("N0")
                                            <label class="product-textprice-id_rub">₽</label>
                                        </td>
                                        <td style="display: flex;">
                                            <a class="button-a" asp-action="EditProduct" asp-route-id="@product.Id" role="button">
                                                <svg class="svg-icon-a" fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><g stroke="#0B63F6" stroke-linecap="round" stroke-width="2"><path d="m20 20h-16"></path><path clip-rule="evenodd" d="m14.5858 4.41422c.781-.78105 2.0474-.78105 2.8284 0 .7811.78105.7811 2.04738 0 2.82843l-8.28322 8.28325-3.03046.202.20203-3.0304z" fill-rule="evenodd"></path></g></svg>
                                            </a>
                                            <a class="btn-ad" asp-action="DeleteProduct" asp-route-id="@product.Id" role="button">
                                                <svg viewBox="0 0 15 17.5" height="17.5" width="15" xmlns="http://www.w3.org/2000/svg" class="icon-ad">
                                                    <path transform="translate(-2.5 -1.25)" d="M15,18.75H5A1.251,1.251,0,0,1,3.75,17.5V5H2.5V3.75h15V5H16.25V17.5A1.251,1.251,0,0,1,15,18.75ZM5,5V17.5H15V5Zm7.5,10H11.25V7.5H12.5V15ZM8.75,15H7.5V7.5H8.75V15ZM12.5,2.5h-5V1.25h5V2.5Z" id="Fill"></path>
                                                </svg>
                                            </a>
                                            @* <a class="btn btn-info" asp-action="DeleteProduct" role="button">Удалить</a> *@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="text-right">
                            <a class="btn2a btn-info" asp-action="AddProductPhoto" role="button">Добавить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>